div.side
	div
		div
			table.tabletype
				thead
					tr
						th 최근 수정 내역
				tbody
					each post in asides
						tr
							th.row
								a(href="/posts/"+post._id)
									=post.title
							if (post.updatedAt.getFullYear()===datenow.getFullYear() && post.updatedAt.getMonth()===datenow.getMonth() && post.updatedAt.getDate()===datenow.getDate())
								th.row
									span(data-date-time=post.createdAt)
							else
								th.row
									span(data-date=post.createdAt)