script(src='/js/jquery-3.4.1.min.js')
script(src='/js/script.js')
link(rel='stylesheet' href='/css/master.css')
link(rel='stylesheet' href='/css/user.css')
link(rel="stylesheet" href="/css/init.css")

title eightwiki
link(rel='stylesheet' href='/css/master.css')
link(rel='stylesheet' href='/css/user.css')
link(rel="stylesheet" href="/css/init.css")