nav
	div#header
		div#header-nav1
				a#logo(href="/") 8커위키
				a(href="/") Home
				a(href="/about") About
				a(href="/posts") Board
		div#header-nav2
			if isAuthnticated
				a(href=`/users/${currentUser.username}`) My Account
				a(href="/logout") Logout
			else
				a(href="/users/new") Sign Up
				a(href="/login") Login
			a(href="/users") Users