nav
	div
		button(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
			span
		div
			form(action="/posts/search" method="get")
				div
					input(type="search" id="search" name="search" placeholder="검색어 입력")
				div
					button(type="submit") Search
		div#navbarSupportedContent
			ul
				li
					a(href="/") Home
					a(href="/about") About
					a(href="/posts") Board
			ul
				if isAuthenticated
					li
						p= currentUser
						a(href=`/users/${currentUser.username}`) My Account
					li
						a(href="/logout") Logout
				else
					li
						a(href="/users/new") Sign Up
					li
						a(href="/login") Login
				li
					a(href="/users") Users