.custom-btn-padding {
	margin : 8px 8px 8px 0px;
}

.ui-helper-hidden-accessible {
	display: none;
}

.ui-menu {
	padding-left: 0px;
}

.ui-menu-item {
	list-style-type: none;
}

#chatLog{
    background:#fff;
    overflow:hidden;
    padding:0;
	width: 100%; 
	height: 600px;
}
#name{ 
	width: 35%; 
}

#message{ 
	width: 100%; 
}

.top-bar {
	width:100%;
	text-align:center;
  background: blueviolet;
  color: white;
  position: relative;
  overflow: hidden;
}

.alert-info{
	padding : 5px;
	margin : 5px;
}