.wrap { width : 1000px; margin : 0 auto}
.side { width:250px; height:800px; float : left; background: #43a047;}
.content { width:750px; height:800px; float: left; background: #4caf50;}
body {
	background-color: rgb(255, 255, 128);
}

#header {width : 1000px;}

#header-nav1 {
	background: #43a047;
	text-align: left;
}

#header-nav1 a {
	color : #fff; padding:10px 1px 10px 13px; display:inline-block;
}
#header-nav1 form {
	padding : 10px 0px 10px 13px;
	display:inline-block;
}
#header-nav1 input {
	width : 150px;
	margin : 3px 0;
	height: 30px;
	font-size: 15px;
	line-height : normal;
	border: 1px solid #999;
	border-radius : 0;
	outline-style: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  	appearance: none;
}
#header-nav2 {
	background : #4caf50;
	text-align : right;
}

#header-nav2 a {
	color : #fff; padding:10px 15px 10px 3px; display:inline-block;
}