doctype html
html
	head
		include ../partials/head.pug
	body.bg-info
		div.container-fluid
			div.row
				include ../partials/nav.pug
				div.col-md-6.col-md-offset-3
					h2 About
					p 이 사이트는 MEAN블로그 보고 만들었어용
					| PUG로 변환했음
				div.col-md-3
					include ../partials/aside.pug