doctype html
html
    head
        include ../partials/head.pug
    body
        include ../partials/nav.pug

        div
            div
                h1 My Website
                p Welcome to my website!