doctype html
html
	head
		include ../partials/head.pug
	body.bg-info
		div.container-fluid
			div.row
				include ../partials/nav.pug
				div.col-md-6.col-md-offset-3.bg-primary
					h1 8커위키
					p 존나어려움
				div.col-md-3
					include ../partials/aside.pug
					include ../chat/chat.pug