doctype html
html
	head
		include ../partials/head.pug
	body.bg-info
		div.container-fluid
			div.row
				include ../partials/nav.pug
				div#container.col-md-6.col-md-offset-3
					h1 Edit Your Information
					form(action="/users/"+user.username+"?_method=put", method="post")
						div
							label(for="currentPassword") Current Password*
							input.form-control(class=(errors.currentPassword)?"is-invalid":"", type="password", name="currentPassword", value="")
							if errors.currentPassword
								div.alert.alert-danger(role="alert")
									span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
									span.sr-only Error:
									=errors.currentPassword.message
						div
							label(for="username") UserId*
							input.form-control(class=(errors.username)?"is-invalid":"", type="text", name="username", value=user.username)
							if errors.username
								div.alert.alert-danger(role="alert")
									span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
									span.sr-only Error:
									= errors.username.message
						div
							label(for="name") Nickname*
							input.form-control(class=(errors.name)?"is-invalid":"", type="text", name="name", value=user.name)
							if errors.name
								div.alert.alert-danger(role="alert")
									span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
									span.sr-only Error:
									= errors.name.message
						div
							label(for="currentPassword") Email
							input.form-control(class=(errors.email)?"is-invalid":"", type="text", name="email", value=user.email)
							if errors.email
								div.alert.alert-danger(role="alert")
									span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
									span.sr-only Error:
									= errors.email.message
						div
							label(for="newPassword") New Password
							input.form-control(class=(errors.newPassword)?"is-invalid":"", type="password", name="newPassword", value="")
							if errors.newPassword
								div.alert.alert-danger(role="alert")
									span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
									span.sr-only Error:
									= errors.newPassword.message
						div
							label(for="passwordConfirmation") Password Confirmation
							input.form-control(class=(errors.passwordConfirmation)?"is-invalid":"", type="password", name="passwordConfirmation", value="")
							if errors.passwordConfirmation
								div.alert.alert-danger(role="alert")
									span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
									span.sr-only Error:
									= errors.passwordConfirmation.message
						p
							small *Required

						if errors.unhandled
							div.alert.alert-danger(role="alert")
								span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
								span.sr-only Error:
								= errors.unhandled

						div
							a.btn.btn-primary(href="/users/"+user.username) Back
							button.btn.btn-success(type="submit") Submit
				div.col-md-3
					include ../partials/aside.pug
					include ../chat/chat.pug