doctype html
html
	head
		include ../partials/head.pug
	body.bg-info
		
		div.container-fluid
			div.row
				include ../partials/nav.pug
				div#container.col-md-6.col-md-offset-3
					div
						if error
							div.alert.alert-danger(role="alert")
								span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
								span.sr-only Error:
								= error

						h1 New User

						form(action="/users", method="post")
							div
								label(for="username") UserId*
								input.form-control(class=(errors.username)?"is-invalid":"", type="text", name="username", value="")
								if errors.username
									div.alert.alert-danger(role="alert")
										span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
										span.sr-only Error:
										= errors.username.message
							div
								label(for="name") Nickname*
								input.form-control(class=(errors.name)?"is-invalid":"", type="text", name="name", value="")
								if errors.name
									div.alert.alert-danger(role="alert")
										span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
										span.sr-only Error:
										= errors.name.message
							div
								label(for="email") Email
								input.form-control(class=(errors.email)?"is-invalid":"", type="text", name="email", value="")
								if errors.email
									div.alert.alert-danger(role="alert")
										span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
										span.sr-only Error:
										= errors.email.message
							div
								label(for="password") Password*
								input.form-control(class=(errors.password)?"is-invalid":"", type="password", name="password", value="")
								if errors.password
									div.alert.alert-danger(role="alert")
										span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
										span.sr-only Error:
										= errors.password.message
							div
								label(for="passwordConfirmation") Password Confirmation*
								input.form-control(class=(errors.passwordConfirmation)?"is-invalid":"", type="password", name="passwordConfirmation", value="")
								if errors.passwordConfirmination
									div.alert.alert-danger(role="alert")
										span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
										span.sr-only Error:
										= errors.passwordConfirmination.message

							if errors.unhandled
								div.alert.alert-danger(role="alert")
									span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
									span.sr-only Error:
									= errors.unhandled
							div
								p
									small *Required
							div
								button.btn.btn-primary(type="submit") Submit
				div.col-md-3
					include ../partials/aside.pug
					include ../chat/chat.pug