doctype html
html
	head
		include ../partials/head.pug
	body.bg-info
		div.container-fluid
			div.row
				include ../partials/nav.pug
			div.col-md-6.col-md-offset-3
				h2 최근 토론 내역
				table.table.table-hover
					thead
						th 아이디
						th 토론 내용
						th 날짜
					tbody
						if comments.length
							each comment in comments
								tr
									if comment.author
										td #{comment.author.username}
									else
										td 삭제된 사용자입니다.
									td #{comment.text}
				div
					form(action="/posts/"+post._id+"/comment", method='post')
					fieldset("!isAuthenticated?'disabled':''")
						row
							div
								textarea.form-control(name='text' rows='2') #{commentForm.form.text}
							div
								button.btn.btn-primary.h-100.mr-2(type='submit') Add Comment
				include ../partials/aside.pug