doctype html
html
	head
		include ../partials/head.pug
		script(src="/js/postEditor/editPost.js")
	body
		div.wrap
			include ../partials/nav.pug
			div.content
				div
					nav
						ol
							li
								a(href="/") Home
							li
								a(href="/posts") Board
							li
								a(href="/posts/"+post._id)= post.title
							li Edit Post
					include ../partials/postForm.pug
			include ../partials/aside.pug
