doctype html
html
    head
        include ../partials/head.pug
    body
        include ../partials/nav.pug
        include ../partials/aside.pug
        div
            nav
                ol
                    li
                        a(href="/") Home
                    li
                        a(href="/posts") Board
                    li New Post

            form(action="/posts", enctype="multipart/form-data", method="post")
                div
                    label(for="title") Title
                    input#title(class=(errors.title)?"is-invalid":"", type="text", name="title", value="")
                    if (errors.title)
                        span= errors.title.message
                div
                    label(for="attachment") Attachment
                    input#attachment(type="file", name="attachment")
                div
                    label(for="body") Body
                    textarea#body(class=(errors.body)?"is-invalid":"", name="body", rows="5")
                    if (errors.body)
                        span= errors.body.message
                if errors.unhandled
                    div= errors.unhandled
                div
                    a(href="/posts") Back
                    button(type="submit") Submit