doctype html
html
	head
		include ../partials/head.pug
		script(src="/js/postEditor/editPost.js")
	body
		div.wrap
			include ../partials/nav.pug
			div.content
				div
					nav
						ol
							li
								a(href="/") Home
							li
								a(href="/posts") Board
							li New Post
					// edit.pug 랑 폼이 비슷한데 효과 편집기 일일이 넣기 귀찮아서 따로 뺐습니다
					include ../partials/postForm.pug
			include ../partials/aside.pug
