doctype html
html
	head
		include ../partials/head.pug
	body.bg-info
		div.container-fluid
			div.row
				include ../partials/nav.pug
				div.col-md-6.col-md-offset-3.bg-danger
					table.table.table-hover
						thead
							tr
								th(scope="col") Title
								th(scope="col") Author
								th(scope="col") Date
						tbody
							if (posts == null || posts.length == 0)
								tr
									td(colspan=2) There is no data to show :(
							each post in posts
								tr
									td
										a(href="/posts/"+post._id)
											div= post.title
									td.author
										div= (post.author) ? post.author.username : ""
									td.date
										span(data-date=post.createdAt)
					if isAuthenticated
						a.btn.btn-primary.btn-sm(href="/posts/new") 새 문서 생성
				div.col-md-3
					include ../partials/aside.pug
					include ../chat/chat.pug
