doctype html
html
	head
		include ../partials/head.pug
		script(src="/js/postEditor/showPost.js")
	body.bg-info
		div.container-fluid
			div.row
				include ../partials/nav.pug
				div.col-md-6.col-md-offset-3
					div
						div
							h2= post.title
						div.text-right
							a(href="/posts/"+post._id+"/comment") 최근 토론 내역
					div.row
						div.text-right
							span Created :
							span(data-date-time= post.createdAt)
						if post.updatedAt
							div.text-right
								span Updated :
								span(data-date-time=post.updatedAt)
					div
						span= post.body

					div
						a.btn.btn-primary(href="/posts") Back
						if (isAuthenticated && post.author && currentUser.id == post.author.id)
						a.btn.btn-primary(href="/posts/"+post._id+"/edit") Edit
						form(action="/posts/"+post._id+"?_method=delete", method="post")
							button.btn.btn-danger(type="submit") Delete
				div.col-md-3
					include ../partials/aside.pug
					include ../chat/chat.pug