doctype html
html
	head
		include ../partials/head.pug
	body.bg-info
		div.container-fluid
			div.row
				include ../partials/nav.pug
				div.col-md-6.col-md-offset-3.bg-danger
					h1= "히스토리: " + hists[0].title
					table.table.table-hover(style="table-layout: fixed; word-break: break-all")
						theadt
							tr
								th.col-md-8(scope="col") 수정개요
								th.col-md-2(scope="col") 편집자
								th.text-right.col-md-2(scope="col") 수정일자
						tbody
							if (hists == null || hists.length == 0)
								tr
									th(colspan=2) There is no data to show :(
							each hist in hists
								tr
									th
										a(href="/posts/"+hist.postId+"/hists/"+hist._id)= hist.editMsg
									th
										span= (hist.author) ? hist.author.name : ""
									th.text-right
										span(data-date-time=hist.updatedAt)
					div
						a.btn.btn-primary(href="/posts/"+hists[0].postId) Back

				div.col-md-3
					include ../partials/aside.pug
					include ../chat/chat.pug